DB_HOST=localhost
DB_NAME=veloce-db
DB_USER=root
DB_PASSWORD=
JWT_SECRET=your-secret-key
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-gmail-account@gmail.com
SMTP_PASS=your-16-digit-app-password